$--ui-main: rgba(255, 102, 0, 1);
$--ui-tel: rgba(255, 102, 36, 1);
$--ui-white: rgba(255, 255, 255, 1);
$--ui-black: rgba(0, 0, 0, 1);
$--ui-dark-red: rgba(171, 5, 5, 1);
$--ui-gray: rgba(121, 117, 117, 1);
$--ui-gray-2: rgba(217, 217, 217, 1);
